header {
    text-align: center;
    padding: 5rem 5%;
}

ul {
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    transform: scale(0.2);
    height: 12rem;
}

nav a {
    font-weight: bold;
}